<html>
<head>

<style>
  body {
    font-family: sans-serif;
    font-size: 12pt;
  }
  
  li {
    padding: 6px 0px 6px 0px;
  }

  table {
    border-collapse: collapse;
    font-family: monospace;
    font-size: 12pt;
  }
  
  thead {
    background-color: whitesmoke;
    text-align: center;
  }

  table, th, td {
      border: 1px solid black;
  }

  th, td {
    padding: 5px;
  }

  .outcome-success, code.outcome-success {
    background-color: rgba(0, 255, 0, 0.2);
  }
  
  .outcome-partial-failure, code.outcome-partial-failure {
    background-color: rgba(250, 250, 0, 0.2);
  }
  
  .outcome-complete-failure, code.outcome-complete-failure {
    background-color: rgba(255, 100, 0, 0.3);
  }
  
  .outcome-timed-out, code.outcome-timed-out {
    background-color: rgba(0, 150, 200, 0.5);
  }
  
  .outcome-crashed, code.outcome-crashed {
    background-color: rgba(255, 0, 0, 0.4);
  }
  
  tr a {
    color: black;
  }

  code {
    background-color: whitesmoke;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.1);
    color: black;
    padding: 4px;
    border-radius: 6px;
  }
  
</style>

</head>
<body>
  <h1><%= title %> (<%= now = Time.now; "%d-%02d-%02d" % [now.year, now.month, now.day] %>)</h1>
  <a href="https://github.com/jbreeden/mruby-spec"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"></a>
  <ul>
    <li><b>File</b><br/>The test file that was run as: <code>mspec/bin/mspec --format html -t mruby #{f}</code></li>
    <li><b>Examples</b><br/>The number of examples in the file</li>
    <li><b>Expectations</b><br/>The number of expectations in the file</li>
    <li><b>Failures</b><br/>The number of failures that occurred</li>
    <li><b>Errors</b><br/>The number of errors that occurred</li>
    <li><b>Outcome</b><br/>The outcome of the test process
      <ul>
        <li><code class="outcome-success">Success</code> All tests passed</li>
        <li><code class="outcome-partial-failure">Partial Failure</code> Some tests failed, but the process ended normally</li>
        <li><code class="outcome-complete-failure">Complete Failure</code> All tests failed, but the process ended normally</li>
        <li><code class="outcome-crashed">Crashed</code> The process crashed (probably a segfault)</li>
        <li><code class="outcome-timed-out">Timed out</code> The process took too long, so the test runner killed it</li>
      </ul>
    </li>
  </ul>
  <table>
    <thead>
      <tr>
        <th>File</th>
        <th>Examples<br>(<%= totals[:examples] %>)</th>
        <th>Expectations<br>(<%= totals[:expectations] %>)</th>
        <th>Failures<br>(<%= totals[:failures] %>)</th>
        <th>Errors<br>(<%= totals[:errors] %>)</th>
        <th>Outcome</th>
      </tr>
    </thead>
    <tbody>
  <% test_files.keys.each do |filename| -%>
      <tr class="outcome-<%= test_files[filename][:outcome].downcase.gsub(' ', '-') %>">
        <td>
          <a href="./<%= filename.sub("#{Conf.output_dir}/", '') %>"><%= filename.sub("#{Conf.output_dir}/results/", '').sub('.html', '.rb') %></a>
          (<a href="./<%= filename.sub("#{Conf.output_dir}/", '').sub('.html', '.stderr.txt') %>">stderr</a>)
        </td>
        <td><%= test_files[filename][:examples] %></td>
        <td><%= test_files[filename][:expectations] %></td>
        <td><%= test_files[filename][:failures] %></td>
        <td><%= test_files[filename][:errors] %></td>
        <td><%= test_files[filename][:outcome] %></td>
      </tr>
  <% end -%>
    </tbody>
  </table>
</body>
</html>
